<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>
<h3>Заказы</h3>
<div th:each="order : ${orders}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
<!--    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">-->
    <h3 th:text="'Id' + ${order.getId()}"></h3>
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
    <p th:text="'Количество: ' + ${order.getCount()}">
    <p th:text="'Цена: ' + ${order.getPrice()}">
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
    <p th:text="'Cтатус: ' + ${order.getStatus()}"></p>
    <hr>
    <a th:href="@{/admin/adminOrders/edit/{id}(id=${order.getId()})}">Редактирование статуса</a>
    <hr>
</div>
<a href="redirect:/admin.html">Личный кабинет администратора</a>
</body>
</html>